body {
    max-width:530px;
    margin:auto;
    background-color: #b0c4de;
}

#Box-container {
    max-width: 700px;
    margin:auto;
    margin-top:100px;
    
    
}
body h1{
    text-align:center;
}

#history-box{
    background-color:white;
    width:100%;
    height:400px;
    margin-bottom:10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #18ab29;
    overflow-y: scroll;
    overflow-x:hidden;
}
#message-box{
    position:relative;
    display: block;
    width:100%;
    height:80px;
    margin-left: auto;
    margin-right: auto;
}

#button {
    float:right;
	height: 81px;
	width: 81px;
	background-color: orange;
	border: 1px solid #18ab29;
	cursor: pointer;
	color: #ffffff;
	font-family: arial;
	font-size: 20px;
	text-shadow: 1px 1px 3px #2f6627;
}
#history-box p{
    float:left;
    width:75%;
    border-radius: 15px;
    padding:10px;
    background-color:#7CFC00;
}
#history-box div{
    margin:10px;
}
#history-box img{
    cursor:pointer;
    float:left;
    margin-top:15px;
    margin-left:10px;
}
#uniqueMessage{
    width:528px;
    text-align:right;
    margin-bottom:10px;
    margin-left: auto;
    margin-right: auto;
}
span{
    color:gray;
}