html{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url("../memory/pics/christmas.png");
    max-height:100%;
    max-width:100%;
    background-size:cover;
    padding: 0px;
    margin: 0px;
}
#text{
    margin-top:20px;
}
#text img{
    margin-top:200px;
    display:block;
    margin:auto;
    background-color:#CCFFFF;
    border-radius: 30px;
    border:red 5px dashed;
}
#gameBox{   
    width:705px;
    height:690px;
    padding:5px;
    padding-bottom:5px;
    margin:auto;
}
button img{
    max-width:150px;
    max-height:150px;
}
button{
    padding-top:5px;
    margin:5px;
}
#gameOver{
    position: fixed;
    top:100px;
    left:665px;
    width:600px;
    height:300px;
    background:white;
    border:red 8px dashed;
    font-size:30px;
    text-align:center;
    box-shadow: 0px 0px 30px black;
    margin:auto;
}
#gameOver button{
    width:300px;
    height:30px;
}
.hidden{
    display:none;
}

button:focus { 
    outline:none;
    border:red 2px dashed;
}